

.container{
    display: flex;
    flex-direction: row; /*flex-direction: column;*/
    justify-content:space-between;
    align-items: center; /*Alinha na posição horizontal, serve apenas quando o Flex estiver Row*/
    flex-wrap: wrap;
    align-content: center; /*Alinha na posição Vertical, não dando muito espaço entre a 1 e 2 linha*/

    background: silver;
    height: 600px;

}
.caixa{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}