

.container{
    display: flex;
    flex-direction: row; /*flex-direction: column;*/
    background: silver;

    justify-content:space-between;
    /*justify-content para row: flex-start(padrão), flex-end, center, space-between e space-around*/

}
.caixa{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}